body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: relative; */
}
main{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 1366px;
  height: 100vh;
  /* background-color: rgb(52, 52, 53); */

  display: grid;
  grid-template-columns: 400px 1fr;
}