/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(189, 186, 186);
  padding-bottom: 500px;
}
.App{
  text-align: center;
}

/* O valor css definido no <P> la no 'FRASE.MODULE' sobrepoe os valores definidos aqui.. pois la está definido na 'CLASS' e se torna mais importante*/
p{
  background-color: rgb(146, 92, 92);
  padding: 8px;
  margin: 5px 0;
}